  <div id="systemrenown" class="tab-pane fade">
     <div class="char-ability-title">Current Season</div>
     <RenownGained @list={{this.char.custom.renown_gained}} @total={{this.char.custom.gained_total}}/>
 </div>